.icon {
    width: 50px;
    opacity: 0.5;
}

.icon:hover {
    opacity: 1;
    cursor: pointer;
}

.btn-add-admin {
    width: fit-content;
    margin-top: 30px;
    margin-bottom: 0;
    background: #fff;
}

.button-config {
    cursor: pointer;
}

.button-config:hover {
    background-color: rgba(244, 244, 244, 0.6);
}

#my-chart {
    width: 100%;
    max-width: 650px;
    margin: 0 auto;
}

.table-responsive {
    overflow-y: auto;
    max-height: 60vh;
}

.style-thead th {
    position: sticky;
    top: 0;
    background-color: #f8f9fa;
    z-index: 2;
}

