body {
    background-color: #fff7f5;
}

.container-dashboard {
    background-color: #fff7f5;
}

.panel-admin {
    background: transparent;
    box-shadow: none;
    margin-top: 0;
}

.icon {
    border-radius: 100%;
    width: 50px !important;
}

.icon:hover {
    background-color: white;
    cursor: pointer;
}

.btn-add-admin {
    width: fit-content;
    margin-top: 30px;
    margin-bottom: 0;
    background: #fff;
}

#my-chart {
    width: 100%;
    max-width: 650px;
    margin: 0 auto;
}

.table-responsive {
    overflow-y: auto;
    max-height: 60vh;
}

.style-thead th {
    position: sticky;
    top: 0;
    background-color: #f8f9fa;
    z-index: 2;
}

.c1 {
    background-color: #ffb6ac;
    margin-right: 0;
}

.c2 {
    background-color: #ffc8ac;
    margin-right: 0;
}

.c3 {
    background-color: #ffdaac;
    margin-right: 0;
}

.c4 {
    background-color: #ffe6ac;
}

.name-deco {
    color: #ff3f26;
}

.page-subtitle {
    background-color: #fff1e4;
}

.title-notificacao {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.list-notificacao {
    padding-inline: 8px;
    padding-bottom: 20px;
    background-color: white !important;
    margin: 0;
}

.list-notificacao img {
    width: 35px;
    padding-right: 5px;
}

.list-notificacao span {
    color: rgba(0, 0, 0, 0.4);
    font-size: 0.8rem;
    display: block;
    padding-top: 2px;
}

.button-viewmore {
    text-decoration: none;
    color: black;
    align-self: center;
    margin: 28px;
}

.title-chart {
    text-align: center !important;
    padding-block: 10px !important;
    font-size: 1.3rem;
    color: rgba(0, 0, 0, 0.64);
}

.google-visualization-tooltip {
    padding: 10px !important;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.chart-container {
    display: flex;
    justify-content: center;
}

#barchart_values {
    width: 900px;
    height: 500px;
}

.list-group-item {
    font-size: 1.5rem;
}