body {
    background-color: #f5f8ff;
    margin-left: 80px;
}

.container-dashboard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    box-sizing: border-box;
}

.page-title {
    font-size: 1.5rem;
    margin: 30px;
    margin-bottom: 0;
}

.panel {
    background-color: white;
    height: 100%;
    box-sizing: border-box;
    width: calc(100% - 60px);
    margin: 30px;
    border-radius: 10px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
}

.cards-panel {
    flex: 2;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
}

.footer {
    background: #fff;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.05);
    padding: 0;
}

.footer p {
    color: black;
    padding: 10px;
}

.card {
    margin: 20px;
    border: none;
    width: calc(100% - 60px);
    box-sizing: border-box;
    border-radius: 10px;
}

.c1 {
    background-color: #e3e0ff;
    margin-right: 0;
}

.c2 {
    background-color: #ffece5;
    margin-right: 0;
}

.c3 {
    background-color: #e3f9ff;
    margin-right: 0;
}

.c4 {
    background-color: #fff4db;
}