.button-config {
    cursor: pointer;
}

.button-config:hover {
    background-color: rgba(244, 244, 244, 0.6);
}

.special-label {
    color: transparent;
}

.btn-update {
    display: block !important;
}

.panel-empresa {
    background: transparent;
    box-shadow: none;
    margin-top: 0;
}

.container-tables {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.table-publicacoes {
    width: fit-content;
    border: 5px solid white;
}

.list-notificacao {
    padding-inline: 8px;
    padding-bottom: 20px;
}

.list-notificacao img {
    width: 35px;
    padding-right: 5px;
}

.list-notificacao span {
    color: rgba(0, 0, 0, 0.4);
    font-size: 1.2rem;
    display: block;
    padding-top: 2px;
}

.c1 {
    background-color: #a1e3ff;
    margin-right: 0;
}

.c2 {
    background-color: #a1d2ff;
    margin-right: 0;
}

.c3 {
    background-color: #a1b8ff;
    margin-right: 0;
}

.c4 {
    background-color: #a2a1ff;
}

.name-deco {
    color: #006cd2;
    text-transform: capitalize;
}

.table-header {
    font-size: 1.5rem;
}

.table-text {
    font-size: 1.5rem;
}

.list-group-item {
    font-size: 1.5rem;
}

.page-subtitle {
    background-color: #e8f4ff;
}

.title-notificacao {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.button-viewmore {
    text-decoration: none;
    color: black;
    align-self: center;
    margin: 28px;
}

.posts-panel {
    display: flex;
    flex-direction: row;
}

.card-post {
    width: 50%;
}

.card-post-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-post img {
    aspect-ratio: 1 / 1;
    object-fit: cover;
    padding: 20px;
}

.card-post-body {
    height: 100%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-post-title, .card-post-text {
    text-align: left;
}

.card-post-title {
    font-size: 1.5rem;
}

.card-post-text {
    font-size: 1.2rem;
}

.card-post-body :last-child {
    margin-bottom: 0;
}

.list-contato {
    padding-inline: 8px;
    padding-block: 20px;
}

.list-contato img {
    width: 40px;
    padding-right: 5px;
    border-radius: 100%;
}

.list-contato span {
    font-size: 1.5rem;
    padding-left: 10px;
}

.list-contato .list-group-item {
    border: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: none;
    padding: 15px;
}

.nome-contato {
    font-size: 1.8rem;
    margin: 20px;
    padding: 8px;
    border-radius: 5px;
    width: fit-content;
}

.list-message-contato img {
    width: 60px;
}

.list-message img {
    width: 60px;
}

.message-box-contato {
    background-color: rgb(218, 238, 255);
    width: 100%;
    height: 40px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
}

.message-box {
    background-color: rgb(216, 254, 255);
    width: 100%;
    height: 40px;
    text-align: right;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
}

.rabinho-contato {
    height: 40px;
    width: 30px;
    background-color: rgb(218, 238, 255);
    border-bottom-left-radius: 100%;
}

.rabinho {
    height: 40px;
    width: 30px;
    background-color: rgb(216, 254, 255);
    border-bottom-right-radius: 100%;
}