body {
    margin-left: 120px;
    background-color: #f5f8ff;
}

.sidebar {
    z-index: 10;
    min-height: 100vh;
    width: 120px;
    background-color: #fff !important;
    position: fixed;
    top: 0;
    left: 0;
    transition: width 0.3s ease;
    text-align: center;
    overflow: hidden;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.05);
}

.sidebar a {
    padding: 10px;
    display: flex;
    justify-content: left;
    align-items: center;
    color: rgba(0, 0, 0, 0.5);
    background-color: #fff !important;
}

.sidebar p {
    display: none;
    font-size: 1.5rem;
    margin: 0;
    font-weight: 600;
    white-space: nowrap;
}

.sidebar img {
    width: 100px;
    height: 100px;
}

.sidebar:hover {
    width: 400px;
}

.sidebar:hover p {
    display: inline;
}

.sidebar a:hover {
    color: black;
}

.sidebar:hover ~ .container-dashboard {
    margin-left: 280px;
}

.sidebar:hover ~ .footer {
    margin-left: 280px;
    width: calc(100% - 400px);
}

.container-dashboard {
    display: flex;
    flex-direction: column;
    padding-inline: 30px;
    box-sizing: border-box;
    background-color: #f5f8ff;
}

.page-title {
    font-size: 2rem;
    margin: 0;
    margin-top: 30px;
}

.page-subtitle {
    font-size: 1.8rem;
    margin: 20px;
    padding: 8px;
    border-radius: 5px;
    width: fit-content;
}

.panel {
    background-color: white;
    border-radius: 10px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.05);
    display: flex;
    box-sizing: border-box;
    width: 100%;
    margin-top: 30px;
    flex-direction: column;
}

.main-panel {
    margin-bottom: 110px;
    padding: 10px;
}

.cards-panel {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
}

.footer {
    background: #fff;
    box-shadow: -3px -3px 3px rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: calc(100% - 80px);
    height: 80px;
    padding: 0;
    box-sizing: border-box;
}

.footer p {
    color: black;
    padding: 10px;
    margin: 0;
    font-size: 1.2rem;
}

.card {
    margin: 20px;
    border: none;
    width: calc(100% - 60px);
    box-sizing: border-box;
    border-radius: 10px;
}

.searchbar {
    background-color: #fff;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-inline: -30px;
}

.search-input {
    width: 300px;
    margin-right: 5px;
}

.profile-info {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.profile-info p {
    margin: 0;
    padding: 0 20px;
    font-size: 1.5rem;
}

.profile-photo {
    width: 80px;
    height: 60px;
    align-self: center;
    padding-right: 20px;
}

.profilebar {
    background-color: #fff;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.05);
    z-index: 10;
    display: flex;
    flex-direction: row;
    justify-content: end;
    padding-block: 10px;
}

.card-body {
    text-align: center;
}

.card-data {
    font-size: 2rem;
    font-weight: 600;
}

.card-text {
    font-size: 1.5rem;
}