body {
    overflow-x: hidden;
}

.home-doacao {
    height: calc(100vh - 15vh - 40px);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-doacao div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: white;
    width: 30vw;
}

.home-doacao a {
    border: 1px solid white;
    padding: 13px;
    padding-inline: 25px;
    border-radius: 40px;
    text-decoration: none;
    color: white;
    width: fit-content;
    font-size: 1.2rem;
}

.home-doacao a:hover {
    background-color: white;
    color: black;
}

.home-doacao h1 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2.2rem;
}

.home-doacao p {
    font-size: 1.2rem;
}

.img-doacao {
    width: 300px;
    height: auto;
}

.title-app {
    font-size: 2rem;
    text-align: center;
    padding-top: 30px;
    letter-spacing: 1px;
    color: #071234;
    font-weight: bold;
}

#app {
    background-color: #f2f2f2;
}

.home-app {
    padding-inline: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-app div {
    width: 30vw;
    margin: auto;
    text-align: center;
}

.home-app h1 {
    font-size: 1.2rem;
}

.img-app img {
    width: 400px;
}

.img-install {
    display: flex;
    flex-direction: column;
}

.img-install img {
    width: 200px;
}

.destaques {
    padding-bottom: 50px;
}

.more-destaque {
    font-size: 12pt;
    text-align: left;
    color: #969696;
    text-decoration: underline;
    transition: 0.3s;
}

.more-destaque:hover {
    cursor: pointer;
    color: #3b3b3b;
    text-decoration: none;
}

#porque p mark {
    background-color: #ff914d;
    color: white;
}

.link:hover {
    color: #ff914d;
    text-decoration: underline;
}

.destaques-title {
    font-size: 2rem;
    text-align: left;
    padding-top: 30px;
    letter-spacing: 1px;
    color: #071234;
    font-weight: bold;
}

.destaques .carousel-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.destaques .carousel-item .card {
    width: 30vw;
    height: 60vh;
    border: none;
}

.destaques .carousel-item .card img {
    height: 40vh;
    object-fit: cover;
}

.destaques .carousel-item .card-body {
   width: inherit;
   box-sizing: border-box;
}

.destaques .carousel-item .card-title {
    font-size: 1.2rem;
}

.destaques .carousel-item .card-text {
    font-size: 1rem;
}

.home-info {
    background-color: #f2f2f2;
}

.home-info .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.info-title {
    font-size: 2rem;
    text-align: center;
    padding: 30px;
    padding-top: 0;
    letter-spacing: 1px;
    font-weight: bold;
}

.home-info .card-body {
    text-align: center;
}

.home-info .card {
    padding: 20px;
    border: none;
    background-color: #f2f2f2;
}

.btn-infos {
    border-radius: 30px;
    border-width: 2px;
    border-style: solid;
    padding: 10px 15px;
    margin: 5px;
    text-transform: lowercase;
    font-weight: 500;
    background-color: transparent;
}

.btn-infos p {
    margin: 0;
}

.btn-infos:hover {
    background-color: #ff914d;
}


.img-ajudar {
    width: 200px;
}

.btn-empresa {
    border-color: #3949ab !important;
    color: #3949ab;
}

.btn-empresa:hover {
    background-color: #3949ab !important;
    color: white;
}

.btn-ong {
    border-color: #2e8b57 !important;
    color: #2e8b57;
}


.btn-ong:hover {
    background-color: #2e8b57 !important;
    color: white;
}

.btn-pessoa {
    border-color: #38b6ff !important;
    color: #38b6ff;
}

.btn-pessoa:hover {
    background-color: #38b6ff;
    color: white;
}

.home-info .card:hover {
    cursor: pointer;
}


.card:hover .btn-ong {
    background-color: #2e8b57 !important;
    color: white;
}

.card:hover .btn-empresa {
    background-color: #3949ab !important;
    color: white;
}

.card:hover .btn-pessoa {
    background-color: #38b6ff !important;
    color: white;
}

@media (max-width: 1000px) {
    .home-doacao {
        flex-direction: column;
        padding: 0;
        text-align: center;
    }

    .home-doacao div {
        display: flex;
        width: fit-content;
        text-align: center;
        align-items: center;
        padding-block: 20px;
    }

    .home-app {
        height: fit-content;
        padding: 20px;
    }

    .home-app div {
        width: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .img-app {
        display: none !important;
    }

    .title-app {
        font-size: 6vw;
    }

    .home-app h1 {
        font-size: 5vw;
    }

    .img-doacao {
        width: 60vw;
    }

    .img-install img {
        width: 40vw;
    }

    .home-doacao h1 {
        font-size: 6vw;
    }

    .home-doacao p {
        font-size: 5vw;
        padding: 10px;
    }

    .home-doacao a {
        font-size: 5vw;
    }

    .card {
        height: 30vh;
    }

    .card img {
        height: 10vh;
    }

    .destaques-title {
        font-size: 6vw;
    }
    .card-title {
        font-size: 3vw;
    }

    .card-text {
        font-size: 2.8vw;
    }
}



.img-info-1 {
    background-image: url('/images/presidio.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 40vh;
}

.informacao-title {
    color: white;
    font-weight: bolder;
}

.color-1 {
    background-color: #ff914d;
    height: 100%;
}

.color-2 {
    background-color: #071234;
    height: 100%;
}
