body {
    overflow-x: hidden;
}

:root {
  --title-color: hsl(0, 0%, 15%);
  --text-color: hsl(0, 0%, 35%);
  --body-color: hsl(0, 0%, 95%);
  --container-color: hsl(0, 0%, 100%);
  --h2-font-size: 1.25rem;
  --small-font-size: .813rem;
}

@media screen and (min-width: 1120px) {
  :root {
    --h2-font-size: 1.5rem;
    --small-font-size: .875rem;
  }
}

.home-app {
    padding-inline: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-app div {
    width: 30vw;
    margin: auto;
    text-align: center;
}

.home-app h1 {
    font-size: 1.2rem;
}

.img-app img {
    width: 400px;
}

.img-app2 img {
    height: 600px;
}

.img-install {
    display: flex;
    flex-direction: column;
}

.img-install img {
    width: 250px;
}


.infos h1 {
    font-size: 2rem;
    text-align: center;
    padding: 30px;
    padding-top: 0;
    letter-spacing: 1px;
    font-weight: bold;
}

.containerInfos {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    gap: 20px;
}

.containerInfos:nth-child(even) {
    flex-direction: row-reverse;
}

.containerInfos img {
    width: 900px;
    height: auto;
    border-radius: 30px;
}

.containerInfos .text {
    max-width: 500px;
}

.text p {
    font-size: 1.5rem;
}

.frase {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 24px;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); 
}

.imgCard {
    display: block;
    max-width: 100%;
    height: auto;
  }
  
  .containerCard {
    display: grid;
    place-items: center;
    margin-inline: 3rem;
  }
  
  .card__container {
    display: grid;
    row-gap: 3.5rem;
  }
  
  .card__article {
    position: relative;
    overflow: hidden;
  }
  
  .card__img {
    width: 328px;
    border-radius: 1.5rem;
  }
  
  .card__data {
    width: 280px;
    background-color: var(--container-color);
    padding: 1.5rem 2rem;
    box-shadow: 0 8px 24px hsla(0, 0%, 0%, .15);
    border-radius: 1rem;
    position: absolute;
    bottom: -9rem;
    left: 0;
    right: 0;
    margin-inline: auto;
    opacity: 0;
    transition: opacity 1s 1s;
  }
  
  .card__description {
    display: block;
    font-size: 1rem;
    margin: 20px;
    padding: 0;
  }
  
  .card__title {
    font-size: var(--h2-font-size);
    font-weight: 500;
    color: var(--title-color);
    margin-bottom: .75rem;
  }
  
  .card__button {
    text-decoration: none;
    font-size: var(--small-font-size);
    font-weight: 500;
    color: #fff;
    padding: 8px;
    background-color: #ff914d;
    border-radius: 40px;
  }
  
  
  .card__button:hover {
    text-decoration: underline;
  }
  
  /* Naming animations in hover */
  .card__article:hover .card__data {
    animation: show-data 1s forwards;
    opacity: 1;
    transition: opacity .3s;
  }
  
  .card__article:hover {
    animation: remove-overflow 2s forwards;
  }
  
  .card__article:not(:hover) {
    animation: show-overflow 2s forwards;
  }
  
  .card__article:not(:hover) .card__data {
    animation: remove-data 1s forwards;
  }
  
  /* Card animation */
  @keyframes show-data {
    50% {
      transform: translateY(-10rem);
    }
    100% {
      transform: translateY(-7rem);
    }
  }
  
  @keyframes remove-overflow {
    to {
      overflow: initial;
    }
  }
  
  @keyframes remove-data {
    0% {
      transform: translateY(-7rem);
    }
    50% {
      transform: translateY(-10rem);
    }
    100% {
      transform: translateY(.5rem);
    }
  }
  
  @keyframes show-overflow {
    0% {
      overflow: initial;
      pointer-events: none;
    }
    50% {
      overflow: hidden;
    }
  }
  
  @media screen and (max-width: 340px) {
    .container {
      margin-inline: 1rem;
    }
  
    .card__data {
      width: 250px;
      padding: 1rem;
    }
  }
  
  /* For medium devices */
  @media screen and (min-width: 768px) {
    .card__container {
      grid-template-columns: repeat(2, 1fr);
      column-gap: 1.5rem;
    }
  }
  
  /* For large devices */
  @media screen and (min-width: 1120px) {
    .container {
      height: 100vh;
    }
  
    .card__container {
      grid-template-columns: repeat(3, 1fr);
    }
    .card__img {
      width: 348px;
    }
    .card__data {
      width: 316px;
      padding-inline: 2.5rem;
    }
  }
  

.destaques {
    padding-bottom: 600px;
}

.more-destaque {
    font-size: 12pt;
    text-align: left;
    color: #969696;
    text-decoration: underline;
    transition: 0.3s;
}

.more-destaque:hover {
    cursor: pointer;
    color: #3b3b3b;
    text-decoration: none;
}

#porque p mark {
    background-color: #ff914d;
    color: white;
}

.link:hover {
    color: #ff914d;
    text-decoration: underline;
}

.destaques-title {
    font-size: 2rem;
    text-align: left;
    padding-top: 30px;
    letter-spacing: 1px;
    color: #ff914d;
    font-weight: bold;
}

.destaques .carousel-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

#destaques {
    overflow: hidden;
}

.destaques .card {
    height: 100%;
    overflow: hidden;
}

.card-imgD {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    transition: transform 0.4s ease;
    position: relative;
    border-radius: 0;
}

.card-img-div {
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.card:hover {
    cursor: pointer;
}

.destaques .card:hover .card-img {
    transform: scale(1.1);
}


.destaques .carousel-itemD .card img {
    height: 40vh;
    object-fit: cover;
}

.destaques .carousel-itemD .card-body {
   width: inherit;
   box-sizing: border-box;
}

.destaques .card-titleD {
    font-size: 1.8rem;
}

.destaques .card-textD {
    font-size: 1rem;
}

/* .home-info {
    background-color: #f2f2f2;
}

.home-info .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
} */
/* 

.info-title {
    font-size: 2rem;
    text-align: center;
    padding: 30px;
    padding-top: 0;
    letter-spacing: 1px;
    font-weight: bold;
}

.home-info .card-body {
    text-align: center;
}

.home-info .card {
    padding: 20px;
    border: none;
    background-color: #f2f2f2;
} */

/* .btn-infos {
    border-radius: 30px;
    border-width: 2px;
    border-style: solid;
    padding: 10px 15px;
    margin: 5px;
    text-transform: lowercase;
    font-weight: 500;
    background-color: transparent;
}

.btn-infos p {
    margin: 0;
}

.btn-infos:hover {
    background-color: #ff914d;
} */


/* .img-ajudar { */
    /* width: 200px;
}

.btn-empresa {
    border-color: #3949ab !important;
    color: #3949ab;
}

.btn-empresa:hover {
    background-color: #3949ab !important;
    color: white;
}

.btn-ong {
    border-color: #2e8b57 !important;
    color: #2e8b57;
}


.btn-ong:hover {
    background-color: #2e8b57 !important;
    color: white;
}

.btn-pessoa {
    border-color: #38b6ff !important;
    color: #38b6ff;
}

.btn-pessoa:hover {
    background-color: #38b6ff;
    color: white;
}

.home-info .card:hover {
    cursor: pointer;
}


.card:hover .btn-ong {
    background-color: #2e8b57 !important;
    color: white;
}

.card:hover .btn-empresa {
    background-color: #3949ab !important;
    color: white;
}

.card:hover .btn-pessoa {
    background-color: #38b6ff !important;
    color: white;
} */

@media (max-width: 1000px) {
    .home-doacao {
        flex-direction: column;
        padding: 0;
        text-align: center;
    }

    .home-doacao div {
        display: flex;
        width: fit-content;
        text-align: center;
        align-items: center;
        padding-block: 20px;
    }

    .home-app {
        height: fit-content;
        padding: 20px;
    }

    .home-app div {
        width: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .img-app {
        display: none !important;
    }

    .title-app {
        font-size: 6vw;
    }

    .home-app h1 {
        font-size: 5vw;
    }

    .img-doacao {
        width: 60vw;
    }

    .img-install img {
        width: 40vw;
    }

    .home-doacao h1 {
        font-size: 6vw;
    }

    .home-doacao p {
        font-size: 5vw;
        padding: 10px;
    }

    .home-doacao a {
        font-size: 5vw;
    }

    .card {
        height: 30vh;
    }

    .card img {
        height: 10vh;
    }

    .destaques-title {
        font-size: 6vw;
    }
    .card-title {
        font-size: 3vw;
    }

    .card-text {
        font-size: 2.8vw;
    }
}



.img-info-1 {
    background-image: url('/images/presidio.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 40vh;
    height: 100%;
}

.img-info-2 {
    background-image: url('/images/preso.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 40vh;
    height: 100%;
}

.informacao-title {
    color: #071234;
    font-weight: bolder;
    width: 100%;
    text-align: left;
}

.color-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-width: 0px;
    border-style: solid;
    border-color: rgb(252,87,59);
    height: 100%;
    padding-left: 5%;

    border-top-width: 0;
    border-left-width: 0;
    border-bottom-width: 0;
}

.color-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-width: 0px;
    border-style: solid;
    border-color: rgb(252,87,59);
    height: 100%;
    padding-right: 5%;

    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
}

.color-1 p {
    width: 100%;
}

.color-2 p {
    width: 100%;
}

.img-propaganda {
    width: 350px;
}

.div-image-propaganda {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.text-propaganda {
    width: 100% !important;
    text-align: left;
}


.btn-alt {
    width: 100%;
    padding: 12px 16px;
    background: #071234;
    color: white;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    border: #ffffff 1px solid;
    font-size: 1.1rem;
}

.destaques .card:hover .btn-alt {
    background-color: #071234;
    color: white;
    border: #071234 1px solid;
}

.btn-alt p {
    margin: 0;
}

.destaques-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title {
    flex: 5;
}

.setas {
    flex: 0.5;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.setas img {
    width: 50px;
}

.carousel-text h1, .carousel-text p, .carousel-text a {
    text-shadow: none;
}

.infos2 {
    text-align: right;
}

.title-section {
    text-align: center;
    padding: 48px;
    color: #071234;
    margin: 0;
}

#infos {
    background-color: rgb(251, 251, 255);
    border-block: 1px solid rgba(0, 0, 255, 0.1);
}