
.div-banner {
    background-color: #cee7ff;
    display: flex;
    height: 35vh;
    border-radius: 5px;
}

.div-pesquisa {
    flex: 2;
    padding: 40px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.div-image {
    align-items: end;
    justify-content: center;
    display: flex;
    flex: 1;
}

.div-image img {
    width: auto;
    height: 93%;
}

.div-pesquisa input {
    width: 100%;
    font-size: larger;
    padding: 10px;
    border-radius: 5px;
}

.div-pesquisa input:focus-visible {
    outline: #007bff auto 1px;;
}

.div-pesquisa input::placeholder {
    color: #545454;
    opacity: 1;
}

.flex-1 {
    flex: 1;
}

.div-add-post {
    margin-top: 10px;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.div-add-post img {
    margin-left: 10px;
    width: 50px;
    cursor: pointer;
}

.div-add-post:hover .txt-post {
    text-decoration: underline;
    cursor: pointer;
}

.div-add-post h4:hover {
    text-decoration: underline;
    cursor: pointer;
}

.obrigatorio {
    color: rgb(204, 52, 52);
}

.error-message {
    color:rgb(204, 52, 52)
}

.input-field {
    margin: 10px 0;
    border-radius: 2px;
    padding: 15px 20px;
    width: 100%;
    flex-direction: column;
    position: relative;
}

.input-field input {
    line-height: 1;
    font-weight: 600;
    font-size: 1.1rem;
    color: #333;
    width: 100%;
}


.input-field select {
    line-height: 1;
    font-weight: 600;
    font-size: 1.1rem;
    color: #333;
    width: 100%;
}

.input-field:focus-visible {
    outline: none !important;
}

.input-field input::placeholder, .input-field select::placeholder, .input-field::placeholder {
    color: #aaa;
    font-weight: 500;
    font-size: 1rem;
}

.modal-title {
    font-size: 1.8rem !important;
}

#modalPost .modal-body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 70vh;
    max-height: 80vh;
    padding: 0;
}

.form-input {
    padding: 10px;
}

.step {
    width: 0%;
    max-height: 0;
    opacity: 0;
    transition: opacity 1s ease;
    overflow-y: scroll;
    padding-inline: 16px;
}

.step.active {
    width: 100%;
    max-height: 800px;
    opacity: 1;
    transition: opacity 1s ease;
}

.title {
    width: 100%;
    text-align: center;
    margin-block: 24px;
}

.opcoes {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.opcoes img {
    width: 200px;
}


.div-publicacoes {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: start;
}

.publicacao {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: 0.3s;
    flex: 1;
}

.publicacao p {
    text-align: center;
    font-size: 1.2rem;
}

.publicacao img {
    width: 150px;
}

.publicacao-emprego:hover {
    cursor: pointer;
    color: #4df0ff;
}

.publicacao-divulgacao:hover {
    cursor: pointer;
    color: #79baff;
}

.publicacao-informativo:hover {
    cursor: pointer;
    color: #7e7cff;
}

.tooltip-informacao {
    background-color: transparent;
    margin-left: 5px;
}

.tooltip-informacao img {
    width: 25px;
}

.button-div {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.btn-form {
    padding: 10px 12px;
    margin-block: 16px;
    font-size: 1.2rem;
}

/* .btn-form {
    padding: 12px 16px;
    background: #2e8b57;
    color: white;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    border: #ffffff 1px solid;
    font-size: 1.1rem;
} */

/*
.btn-form:hover {
    background-color: #2e8b57;
    color: white;
    border: #1e5a38 1px solid;
} 
*/

.btn-danger {
    background: #dc3545;
}


.btn-danger:hover {
    background-color: #dc3545;
    color: white;
    border: #dc3545 1px solid;
}

.card {
    width: 100%;
    overflow: hidden;
}

.card-top {
    display: block;
    padding: 16px;
}

.card-top img {
    width: 100%;
}


.hover-overlay-imagem {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.hover-overlay-imagem img {
    width: 60px;
    height: auto;
    object-fit: cover;
}

.image-wrapper {
    position: relative;
    overflow: hidden;
}

.image-wrapper:hover .hover-overlay-imagem {
    opacity: 1;
    cursor: pointer;
}

.tituloPost {
    width: 100%;
    text-align: left;
    font-size: larger;
}

.textoPost {
    width: 100%;
    font-size: medium;
    text-align: left;
}

.info-usuario {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.foto-perfil {
    width: 50px;
    border-radius: 100%;
    background-color: white;
    margin-right: 5px;
    margin-bottom: 10px;
}

.nome-perfil {
    font-size: large;
}

.card-info {
    min-height: 5vh;
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}


.btn-about {
    flex: 1;
    background-color: #c4c4c4;
}

.btn-about:hover {
    border-style: solid;
    border-color: black;
    border-width: 1px;
}


.voltar-icon-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.voltar-icon {
    width: 30px;
}

.voltar-icon:hover {
    cursor: pointer;
}


.div-title-icon {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div-title-icon h2 {
    font-size: 1.8rem;
}

.centered-item {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 128px;
}

.centered-item .card {
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.05);
    background-color: #f7f7f7;
}

.cropper-wrapper {
    width: 100%;
    min-height: 40vh !important;
    max-width: 100%;
    overflow: hidden;
}

.cropper-wrapper .cropper-container {
    width: 100% !important;
}

.cropper-canvas {
    width: 100% !important;
    height: auto !important;
}

#preview {
    display: block;
    max-width: 100%;
    width: 100%;
}

.subtitle {
    padding: 20px;
}

.form-label {
    font-size: 1.5rem;
}

.check-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: fit-content;
    gap: 10px;
}

#publicacoes-table {
    font-size: 1.3rem;
    margin: 0;
}

.btn-icon {
    padding: 0;
    border-radius: 100%;
    border: 0;
}

.btn-icon:active {
    opacity: 0.7;
}

.mb-3 {
    margin-bottom: 40px !important;
}