.sobre {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-inline: 50px;
}

.box {
    width: 50%;
}

.box h1 {
    font-size: 2.3rem;
    font-weight: bold;
    color: #ff914d;
    letter-spacing: 1px;
}

.box p {
    margin: 20px 0px;
    font-size: 1.3rem;
    text-align: justify;
}

.btn-sobre {
    padding: 12px 16px;
    background: #ff914d;
    border: white 1px solid;
    color: white;
    border-radius: 2px;
    cursor: pointer;
}

.btn-sobre:hover {
    background-color: #ff914d;
    color: white;
    border: #fc573b 1px solid;
}

.box1 {
    width: 50%;
}

.box1 video {
    width: 90%;
    border: 5px solid #ff914d;
}
